* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    font-size: 1.5em;
}

.wrapper {
    padding: 1em;
    height: 800px;
    border: 1px solid #333333;
}

.wrapper div {
    background-color: antiquewhite;
    border: 1px solid #333333;
    width: 20%;
    height: 20%;
    padding: 1em;
    text-align: center;
    margin: 1em;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    
}