* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    font-size: 1.5em;
}

.wrapper {
    border: 1px dashed #666;
    padding: 1em;
    height: 100vh;

}

.wrapper div {
    background-color: antiquewhite;
    border: 1px solid #333;
    width: 18vw;
    padding: 1em;
    text-align: center;
    margin: 1em;
}

.flex-container {
    display: flex;

}

.flex-item:nth-child(2) {
    flex-grow: 3;
}

.flex-item:nth-child(1) {
    flex-grow: 1;
}

.flex-item:nth-child(3) {
    flex-grow: 1;
}